/*********************************** STYLING FOR PORTFOLIO DIV ********************************/

#portfolioContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  font-size: 14px;
  margin-top: 35vh;
}

#portfolioTitleContainer {
  height: 1vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#portfolioTitle {
  display: inline-block;
  position: fixed;
  top: -0.25em;
  width: fit-content;
  font-size: 14vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  /* -webkit-text-fill-color: rgba(119, 34, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(180, 180, 180); */
  z-index: -1;
  transition: opacity 0.2s ease, transform 0.5s ease;
  opacity: 0%;
  -webkit-text-fill-color: rgb(23, 23, 23);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(180, 180, 180, 0);
}

/* media queries for page @ over 1600px */
/* @media only screen and (min-width: 1600px) {
    .container {
      min-width: 90%;
    }
  } */

/* media queries for page @ sm */
/* @media only screen and (max-width: 767px) {
    #portfolioContainer {
      font-size: 14px;
    }
  } */

/* media queries for page @ 1000px */
@media only screen and (max-width: 1000px) {
  #portfolioContainer {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 15vh;
  }
}
/* media queries for page @ xs */
@media only screen and (max-width: 575px) {
  #portfolioTitle {
    top: 1em;
    right: -0.1em;
    font-size: 20vw;
  }
}
