/******* Project Cards *******/
.projectCard {
  display: flex;
  flex-direction: column;
  padding: 4vw;
  max-width: 700px;
}
/* 
    .portfolioImgLink {
      margin: 3vw;
    } */

.portfolioImg {
  height: auto;
  width: 100%;
}

.projectTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
  border-top: 1px solid white;
  padding: 5px 0px 5px 0px;
  color: white;
  text-shadow: 1px 2px rgb(0, 0, 0);
  transform: scaleY(1.2);
}

.projectLink {
  color: white;
  text-decoration: underline;
  margin: 5px 0px 30px 0px;
  min-width: fit-content;
  max-width: fit-content;
}

.projectLink:hover {
  color: rgb(255, 123, 0);
  /* color: rgb(65, 233, 255); */
}

.projectCard a {
  position: relative;
}

.viewApp {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
  opacity: 0%;
}

.viewApp:hover {
  opacity: 80%;
}
