/********************************** STYLING FOR ALL PAGES **********************************/

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.01);
  /* background-image: url("../imgs/backgroundImg.png");
  background-size: cover; */
}

a {
  color: white;
  flex-direction: row;
}

#phoneNumber {
  position: absolute;
  left: 45px;
  top: 8px;
  white-space: nowrap;
  opacity: 0%;
}

#phoneIcon {
  display: flex;
  flex-direction: row;
  position: relative;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
}

#myName {
  font-weight: 200;
  font-size: 40px;
  color: rgb(107, 81, 255);
}

footer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

footer p {
  position: absolute;
  bottom: 10px;
}

/***************** Nav bar *****************/
.navbar {
  background-color: rgba(107, 81, 255, 0.2) !important;
  border: 1px solid rgb(255, 255, 255);
  margin: 5px;
  padding: 20px 30px 5px 30px;
  position: fixed;
  top: 0;
  min-width: 99vw;
  z-index: 1;
  justify-content: flex-start;
}

#navigatePages {
  position: absolute;
  right: 10px;
}
#navigatePages a {
  padding-left: 5px;
}

.active {
  color: rgb(107, 81, 255);
  text-decoration: underline;
}

/******* Socials *******/
.fab,
.fas {
  display: flex;
  font: normal normal normal 25px/1 FontAwesome;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 5px 10px 10px 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgba(109, 95, 89, 0.5);
  color: white;
}
.socialslink {
  margin: 0px 10px 10px 0px;
}
.socialslink:hover {
  text-decoration: none;
  color: rgb(73, 121, 255);
}
#socialsDiv {
  display: flex;
  align-items: flex-start;
  margin: 0px 20px;
}

/* media queries for nav bar @ xs */
@media only screen and (max-width: 575px) {
  #myName {
    font-size: 18px;
    text-align: end;
    margin-bottom: 0px;
  }
  .navbar {
    justify-content: center;
    padding: 10px 10px 0px 10px;
  }
  .fab,
  .fas {
    font: normal normal normal 15px/1 FontAwesome;
    height: 28px;
    width: 28px;
    padding: 5px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(109, 95, 89, 0.5);
    color: white;
  }
  #phoneNumber {
    font-size: 14px;
    left: -75px;
    top: 55px;
  }
  #socialsDiv {
    display: flex;
    align-items: flex-start;
    margin: 0px 0px 0px 8px;
    height: 30px;
  }
  .socialslink {
    margin: 0px 5px 10px 0px;
  }
  #navigatePages {
    display: flex;
    position: relative;
    width: 100vw;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 13px;
  }
}

/* media queries for nav bar @ sm */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  #myName {
    font-size: 30px;
  }
  .fab,
  .fas {
    font: normal normal normal 20px/1 FontAwesome;
    height: 35px;
    width: 35px;
  }
  .socialslink {
    margin: 0px 5px 10px 0px;
  }
  .navbar {
    padding-bottom: 20px;
  }
  #phoneNumber {
    left: 0px;
    top: 40px;
  }
}

/***************** Containers *****************/

#pageTitle {
  font-size: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin: 130px 0px 20px 0px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.col {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 10px;
}

/* media queries for containers @ xs */
@media only screen and (max-width: 575px) {
  .container,
  .col {
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 2px;
    padding-left: 2px;
  }
  #pageTitle {
    font-size: 30px;
    margin: 80px 0px 0px 0px;
  }
}

/********************************** END STYLING FOR ALL PAGES **********************************/

/****************************************** PORTFOLIO ******************************************/

/* media queries for page @ over 1600px */
@media only screen and (min-width: 1600px) {
  .container {
    min-width: 90%;
  }
}

/* media queries for page @ over 1200px */
@media (min-width: 1200px) {
  #portfolioContainer {
    max-width: 1400px;
  }
}

/* media queries for page @ sm */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

/******* Project Cards *******/
.projectCard {
  display: flex;
  flex-direction: column;
}

.portfolioImg {
  height: auto;
  width: 100%;
}

.projectTitle {
  margin: 20px 0px 0px 0px;
  border-top: 1px solid white;
  padding: 5px 0px 0px 0px;
}

.projectLink {
  color: white;
  text-decoration: underline;
  margin: 5px 0px;
}

.projectLink:hover {
  color: rgb(123, 255, 71);
}

.hoverVid {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/**************************************** END PORTFOLIO ****************************************/

/****************************************** ABOUT ME *******************************************/

#aboutMeImg {
  float: left;
  max-width: 200px;
  margin: 0px 20px 0px 0px;
}

#aboutMeDesc {
  background-color: rgba(232, 255, 250, 0.15) !important;
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  font-size: 18px;
}

.accentText {
  color: rgb(148, 255, 138);
  font-size: 20px;
  text-shadow: 1px 1px rgb(29, 42, 80);
}

/* media queries for page @ xs */
@media only screen and (max-width: 575px) {
  #aboutMeImg {
    max-width: 150px;
  }
  #aboutMeDesc {
    font-size: 12px;
  }
  .accentText {
    font-size: 14px;
  }
}

/* media queries for page @ sm */
@media only screen and (max-width: 767px) {
  #aboutMeDesc {
    margin-top: 10px;
  }
  .accentText {
    font-size: 15px;
  }
}

/**************************************** END ABOUT ME *****************************************/
