/********************************** STYLING FOR INTRO SKILLS DIV **********************************/

#introContainer {
  width: 100%;
  height: 100vh;
  margin: 6vh 0px 0px 0px;
}

#introName {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  margin: 0px;
  padding: 10vh 0;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-shadow: 4px 6px rgb(68, 0, 255);
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgb(68, 0, 255);
}

.role {
  text-align: center;
  color: rgba(68, 0, 255, 0.5);
  padding: 0px 15px 0px 0px;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px rgb(68, 0, 255);
}

/*********** Marquee styling start ***********/
#marqueeContainer {
  width: 100%;
  /* display: grid;
  align-items: center; */
  padding: 20vh 0;
}

.marquee {
  width: 300px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee1 span {
  display: inline-block;
  /* width: fit-content; */
  /* padding-left: 100%; */
  will-change: transform;
  animation: marquee 6s linear infinite;
}
.marquee1lead {
  animation-delay: -6s;
}

.marquee2 span {
  display: inline-block;
  /* width: fit-content; */
  /* padding-left: 100%; */
  will-change: transform;
  animation: marquee 8s linear infinite;
}
.marquee2lead {
  animation-delay: -4s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/************ Marquee styling end ***********/

#skillsDiv {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: -2vh;
  margin-bottom: 10vh;
  padding: 1.5em;
}
#skillsDiv p {
  /* background-color: rgba(0, 0, 0, 0.6); */
  color: rgb(111, 40, 255);
  display: inline-block;
  margin: 3px;
  padding: 0.5em 0.9em;
  border-radius: 1em;
  border: 1px solid rgb(111, 40, 255);
}

/*****************************************************************************************/
/********************************** PAGE AT XS (MOBILE) **********************************/
/*****************************************************************************************/
@media only screen and (max-width: 575px) {
  /* #introName {
    font-size: 80px;
    padding: 22vh 15px 20px 0px;
  } */
  /* #skillsDiv {
    margin-top: 12vh;
    margin-bottom: 15vh;
  } */
  #marqueeContainer {
    width: 100%;
    /* display: grid;
    align-items: center; */
    padding: 15vh 0;
  }
  #skillsDiv p {
    font-size: 14px;
  }
}
