/******************************** STYLING FOR MORE ON ME PAGE *********************************/
body {
  background-color: white;
}

#pageTitle {
  text-align: center;
}

#aboutMeTitle {
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-shadow: 7px 9px rgb(123, 255, 71);
  font-size: 5em;
  /* border: none; */
  transform: skewY(-10deg) scaleX(1.2);
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  margin: 40vh 0px 25vh 0px;
}

/************* Journey container styling start *************/

#journeyContainer {
  background-image: linear-gradient(
    white,
    rgb(130, 102, 255),
    rgb(71, 30, 255),
    rgb(47, 0, 255)
  );
  position: relative;
  width: 100vw;
  height: 170vh;
  color: white;
  padding-top: 40vh;
  font-size: 13px;
}

.journeyStop {
  margin: 10vh 0 10vh 0;
}

.journeyStop li {
  list-style-type: "✧ ";
  margin: 10px 0px;
}

.journeyStopTitle {
  display: flex;
  align-items: center;
}

.journeyStopTitle p {
  font-family: "Syncopate", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin: 0;
}

#journey3 p {
  font-size: 3.7em;
  -webkit-text-stroke-width: 2px;
}

#journey3 {
  font-size: 1.2em;
}

#journey3 li {
  margin: 20px 0px;
}

ul#journeyList {
  list-style: none;
}
ul#journeyList > li:before {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    white,
    white,
    rgba(47, 0, 255, 0)
  );
  width: 2px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 30px;
}
.journeyBullet {
  font-size: 100px;
  line-height: 10px;
  padding-bottom: 20px;
  margin-left: -24px;
  z-index: 1;
}

#resumeDiv {
  display: inline-block;
}

#resumeDiv a {
  color: white;
}

#resumeDiv {
  text-decoration: underline;
  background-color: rgba(81, 85, 107, 0.2) !important;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#resumeDiv:hover,
#resumeDiv:active,
#resumeDiv:focus,
#resumeDiv > a:hover,
#resumeDiv > a:active,
#resumeDiv > a:focus {
  color: rgb(123, 255, 71);
}

/* #journeyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  height: 80vh;
  margin: 0 0 30vh 0;
  font-size: 0.8em;
  color: white;
}

.journeyStop {
  flex: 1 1 45vw;
  display: flex;
  flex-direction: column;
  padding: 4vw;
  position: relative;
  min-width: 400px;
}

.journeyStop > p,
.journeyStop > h4 {
  position: absolute;
}

.journeyStop > ul {
  list-style-type: "✧ ";
}
.journeyStop > ul > li {
  padding: 5px;
}

#journey1 > h4 {
  right: 8vw;
  bottom: 6vw;
}
#journey2 > h4 {
  right: 12vw;
  bottom: 6vw;
}
#journey3 > h4 {
  text-align: center;
  width: 100%;
  bottom: 6vw;
  font-size: 2.5em;
}
#journey3 > ul {
  font-size: 1.5em;
}

#journey1 {
  background-color: rgb(163, 157, 255);
}
#journey2 {
  background-color: rgb(137, 119, 255);
}
#journey3 {
  background-color: rgb(91, 55, 255);
} */

/************** Journey container styling end **************/

#skillsDiv {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: -2vh;
  margin-bottom: 10vh;
  padding: 1.5em;
  font-size: 1.2em;
}
#skillsDiv p {
  color: white;
  display: inline-block;
  margin: 3px;
  padding: 0.5em 0.9em;
  border-radius: 1em;
  border: 1px solid white;
}

/* #aboutMeImg {
  float: left;
  max-width: 200px;
  margin: 0px 20px 0px 0px;
}

#aboutMeDesc {
  color: white;
  padding: 20px;
  font-size: 18px;
  background-color: rgb(71, 17, 221);
  line-height: 1.2;
} */

.accentText {
  color: rgb(148, 255, 138);
  font-size: 20px;
  text-shadow: 1px 1px white;
}

/* media queries for page @ xs */
@media only screen and (max-width: 575px) {
  #aboutMeTitle {
    font-size: 2em;
    text-shadow: 4px 4px rgb(123, 255, 71);
    -webkit-text-stroke-width: 2px;
  }

  #journey3 p {
    font-size: 1.9em;
    -webkit-text-stroke-width: 1px;
  }

  /* #aboutMeImg {
    max-width: 150px;
  }
  #aboutMeDesc {
    font-size: 14px;
    margin-top: 15px;
  }
  .accentText {
    font-size: 16px;
  }
  #aboutMeDesc { */
}
