/******************************** STYLING FOR MORE ON ME PAGE *********************************/
body {
  background-color: white;
}

#aboutMeTitle {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-shadow: 5px 5px rgb(123, 255, 71);
  font-size: 5em;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  margin: 40vh 0px 60vh 0px;
}

/************* Journey container styling start *************/
#journeyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  height: 80vh;
  margin: 0 0 30vh 0;
  font-size: 0.8em;
  color: white;
}

.journeyStop {
  flex: 1 1 45vw;
  display: flex;
  flex-direction: column;
  padding: 4vw;
  position: relative;
  min-width: 400px;
}

.journeyStop > p,
.journeyStop > h4 {
  position: absolute;
}

.journeyStop > ul {
  list-style-type: "✧ ";
}
.journeyStop > ul > li {
  padding: 5px;
}

#journey1 > h4 {
  right: 8vw;
  bottom: 6vw;
}
#journey2 > h4 {
  right: 12vw;
  bottom: 6vw;
}
#journey3 > h4 {
  text-align: center;
  width: 100%;
  bottom: 6vw;
  font-size: 2.5em;
}
#journey3 > ul {
  font-size: 1.5em;
}

#journey1 {
  background-color: rgb(163, 157, 255);
}
#journey2 {
  background-color: rgb(137, 119, 255);
}
#journey3 {
  background-color: rgb(91, 55, 255);
}

/************** Journey container styling end **************/

#aboutMeImg {
  float: left;
  max-width: 200px;
  margin: 0px 20px 0px 0px;
}

#aboutMeDesc {
  color: white;
  padding: 20px;
  font-size: 18px;
  background-color: rgb(71, 17, 221);
  line-height: 1.2;
}

.accentText {
  color: rgb(148, 255, 138);
  font-size: 20px;
  text-shadow: 1px 1px rgb(255, 94, 1);
}

#resumeDiv {
  position: absolute;
  bottom: 20vw;
  left: 6vw;
  display: flex;
  justify-content: flex-end;
}

#resumeDiv a {
  color: white;
}

#resume {
  text-decoration: underline;
  background-color: rgba(81, 85, 107, 0.2) !important;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#resume:hover,
#resume:active,
#resume:focus,
#resumeDiv > a:hover,
#resumeDiv > a:active,
#resumeDiv > a:focus {
  color: rgb(123, 255, 71);
}

/* media queries for page @ xs */
@media only screen and (max-width: 575px) {
  #aboutMeTitle {
    font-size: 40px;
    text-shadow: 4px 4px rgb(123, 255, 71);
    -webkit-text-stroke-width: 2px;
  }

  #aboutMeImg {
    max-width: 150px;
  }
  #aboutMeDesc {
    font-size: 14px;
  }
  .accentText {
    font-size: 16px;
  }
}

/* media queries for page @ sm */
@media only screen and (max-width: 767px) {
  #aboutMeDesc {
    margin-top: 15px;
  }
  .accentText {
    font-size: 17px;
  }
}
