/********************************** STYLING FOR ALL PAGES **********************************/

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.01);
  line-height: 1;
}

a {
  color: rgb(107, 81, 255);
  font-weight: bold;
  flex-direction: row;
}

#phoneNumber {
  position: absolute;
  left: 45px;
  top: 8px;
  white-space: nowrap;
  opacity: 0%;
}

#phoneIcon {
  display: flex;
  flex-direction: row;
  position: relative;
}

video {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: -1;
}

#introName {
  font-weight: 600;
  font-size: 160px;
  color: rgb(107, 81, 255);
  text-shadow: 6px 6px rgb(54, 54, 54);
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

footer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

footer p {
  position: absolute;
  bottom: 10px;
}

/***************** Nav bar *****************/
.navbar {
  background-color: rgba(81, 98, 255, 0) !important;
  padding: 0.8rem 1rem;
}

#navbar-brand {
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
  text-shadow: 2px 3px black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#navbarBrandSocials {
  display: flex;
  flex-direction: row;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }
}

/******* Socials *******/
#socialsDiv {
  display: flex;
  flex-direction: row;
}

.socialslink {
  margin: 0px 2px;
}

@media (hover: hover) and (pointer: fine) {
  .socialslink:hover {
    text-decoration: none;
  }
}

.fab,
.fas {
  display: flex;
  font: normal normal normal 20px/1 FontAwesome;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 9px 3px 0px 4px;
  border-radius: 20px;
  background-color: #00000096;
  color: white;
}

/* media queries for nav bar @ xs */
@media only screen and (max-width: 575px) {
  /***************** Nav bar *****************/
  .navbar {
    padding: 0.5rem;
  }

  #navbar-brand {
    font-weight: 600;
    font-size: 20px;
    color: rgb(107, 81, 255);
    text-shadow: 1px 2px rgb(54, 54, 54);
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    margin-right: 0.5rem;
  }

  .fab,
  .fas {
    display: flex;
    font: normal normal normal 20px/1 FontAwesome;
    justify-content: center;
    height: 30px;
    width: 30px;
    padding: 4px 3px 0px 3px;
    border-radius: 20px;
    background-color: #00000096;
    color: white;
  }
}

/***************** Containers *****************/

#pageTitle {
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px rgb(54, 54, 54);
  font-size: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin: 130px 0px 20px 0px;
}

#pageTitleP {
  border-bottom: 2px solid white;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.col {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 10px;
}

#introContainer {
  padding-top: 80px;
}

/* media queries for containers @ xs */
@media only screen and (max-width: 575px) {
  .container,
  .col {
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 2px;
    padding-left: 2px;
  }
  #pageTitle {
    font-size: 30px;
    margin: 90px 0px 0px 0px;
  }
}

/********************************** END STYLING FOR ALL PAGES **********************************/

/******************************************** INDEX ********************************************/

/* media queries for page @ over 1600px */
@media only screen and (min-width: 1600px) {
  .container {
    min-width: 90%;
  }
}

/* media queries for page @ over 1200px */
@media (min-width: 1200px) {
  #portfolioContainer {
    max-width: 1400px;
  }
}

/* media queries for page @ sm */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

/*********** Intro Skills Div *************/

#introContainer {
  width: 100%;
  height: 90vh;
  margin: 60px 0px 0px 0px;
}

#introName {
  font-weight: bold;
  font-size: 120px;
  text-align: center;
  margin: 0px;
  padding: 20vh 15px 20px 0px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-shadow: 5px 6px black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
}

#role {
  text-align: center;
  color: white;
  padding: 0px 15px 0px 0px;
  text-shadow: 5px 6px black;
}

#skillsDiv {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin-top: 10vh;
  padding: 1.5em;
}
#skillsDiv p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: inline-block;
  margin: 3px;
  padding: 0.5em 0.9em;
  border-radius: 1em;
}

.row {
  margin: 0px;
}

.col {
  display: flex;
  justify-content: center;
}

#portfolioContainer {
  height: 100vh;
}

#portfolioTitle,
#aboutMeTitle {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px rgb(54, 54, 54);
  font-size: 50px;
  border: none;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin: 80px 0px 50px 0px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

/* media queries for page @ over 1600px */
@media only screen and (min-width: 1600px) {
  .container {
    min-width: 90%;
  }
}

/* media queries for page @ over 1200px */
@media (min-width: 1200px) {
  #portfolioContainer {
    max-width: 1400px;
  }
}

/* media queries for page @ sm */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

/******* Project Cards *******/
.projectCard {
  display: flex;
  flex-direction: column;
}

.portfolioImg {
  height: auto;
  width: 100%;
}

.projectTitle {
  font-weight: bold;
  margin: 20px 0px 0px 0px;
  border-top: 1px solid white;
  padding: 5px 0px 5px 0px;
  color: white;
  text-shadow: 2px 2px black;
}

.projectLink {
  color: white;
  text-decoration: underline;
  margin: 5px 0px;
}

@media (hover: hover) and (pointer: fine) {
  .projectLink:hover {
    color: rgb(123, 255, 71);
  }
}

.projectCard a {
  position: relative;
}
.viewApp {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  opacity: 0%;
}
@media (hover: hover) and (pointer: fine) {
  .viewApp:hover {
    opacity: 80%;
  }
}

.hoverVid {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/****************************************** END INDEX ******************************************/

/******************************************** MORE *********************************************/

#aboutMeImg {
  float: left;
  max-width: 200px;
  margin: 0px 20px 0px 0px;
}

#aboutMeDesc {
  border: 2px solid rgba(0, 0, 0, 0.829);
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
}

.accentText {
  color: rgb(148, 255, 138);
  font-size: 20px;
  text-shadow: 1px 1px rgb(29, 42, 80);
}

#resumeDiv {
  display: flex;
  justify-content: flex-end;
}

#resume {
  text-decoration: underline;
  background-color: rgba(81, 85, 107, 0.2) !important;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media (hover: hover) and (pointer: fine) {
  #resume:hover,
  #resumeDiv > a:hover {
    color: rgb(123, 255, 71);
  }
}

/* media queries for page @ xs */
@media only screen and (max-width: 575px) {
  #aboutMeImg {
    max-width: 150px;
  }
  #aboutMeDesc {
    font-size: 12px;
  }
  .accentText {
    font-size: 14px;
  }
}

/* media queries for page @ sm */
@media only screen and (max-width: 767px) {
  #aboutMeDesc {
    margin-top: 10px;
  }
  .accentText {
    font-size: 15px;
  }
}

/****************************************** END MORE *******************************************/
