/*********************************** STYLING FOR PORTFOLIO DIV ********************************/

#portfolioContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  font-size: 14px;
  margin-top: 35vh;
}

#portfolioTitleContainer {
  height: 1vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#portfolioTitle {
  display: inline-block;
  position: fixed;
  top: -0.25em;
  width: fit-content;
  font-size: 14vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  -webkit-text-fill-color: rgba(119, 34, 255, 0);
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: rgb(65, 233, 255); */
  -webkit-text-stroke-color: rgb(180, 180, 180);
  /* margin: 30vh 0px 50vh 0px; */
  /* transform: scaleY(1.2) skewY(-10deg) rotate(10deg); */
  transition: opacity 0.2s ease, transform 0.5s ease;
  opacity: 0%;
}

/* media queries for page @ over 1600px */
/* @media only screen and (min-width: 1600px) {
    .container {
      min-width: 90%;
    }
  } */

/* media queries for page @ sm */
/* @media only screen and (max-width: 767px) {
    #portfolioContainer {
      font-size: 14px;
    }
  } */

/******* Project Cards *******/
.projectCard {
  display: flex;
  flex-direction: column;
  padding: 4vw;
  max-width: 700px;
}
/* 
  .portfolioImgLink {
    margin: 3vw;
  } */

.portfolioImg {
  height: auto;
  width: 100%;
}

.projectTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
  border-top: 1px solid white;
  padding: 5px 0px 5px 0px;
  color: white;
  /* text-shadow: 1px 2px rgb(123, 255, 71); */
  text-shadow: 1px 2px rgb(0, 0, 0);
  transform: scaleY(1.2);
}

.projectLink {
  color: white;
  text-decoration: underline;
  margin: 5px 0px 50px 0px;
  min-width: fit-content;
  max-width: fit-content;
}

.projectLink:hover {
  color: rgb(255, 123, 0);
  /* color: rgb(65, 233, 255); */
}

.projectCard a {
  position: relative;
}

.viewApp {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
  opacity: 0%;
}

.viewApp:hover {
  opacity: 80%;
}

.projectLinkBadgeDiv {
  display: flex;
  flex-direction: row;
}

.projectBadges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.projectBadges p {
  border-radius: 15px;
  /* border: 1px solid black; */
  background-color: rgb(37, 37, 37);
  padding: 0.3em 0.5em;
  margin: 0.2em 0.1em;
}

/* media queries for page @ 1000px */
@media only screen and (max-width: 1000px) {
  #portfolioContainer {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 15vh;
  }
}
/* media queries for page @ xs */
@media only screen and (max-width: 575px) {
  #portfolioTitle {
    top: 1em;
    right: -0.1em;
    font-size: 20vw;
    transform: scaleY(2) skewY(-10deg) rotate(10deg);
  }
}
