/******************************** STYLING FOR MORE ON ME PAGE *********************************/
/* #pageTitle {
  text-align: center;
}

#aboutMeTitle {
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 3px white, 3px 5px rgb(123, 255, 71);
  font-size: 3vw;
  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0
  );
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 40vh 0px 20vh 0px;
  border-top: 1px solid black;
  padding: 0.2em 0.2em 0 0.2em;
} */

.morePage {
  background-image: linear-gradient(
    white,
    rgb(130, 102, 255),
    rgb(71, 30, 255),
    rgb(47, 0, 255)
  );
}

/***************** icons div styling start *****************/

#morePageDiv {
  min-height: 150vh;
}

#iconsContainer {
  display: grid;
  place-items: center;
  width: 100vw;
  z-index: 1;
  padding: 30vh 0 20vh 0;
}

#iconsDiv {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-auto-flow: column;
}

#iconsDiv.vertical {
  grid-auto-flow: row;
}

.careerIcons {
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  margin: 0 auto;
  place-items: center;
  width: fit-content;
}

.careerIcons img {
  fill: white;
}

.careerLabel {
  display: grid;
  place-items: center;
  margin-top: 30px;
}

.careerLabel p {
  text-align: center;
  /* font-family: "Syncopate", sans-serif; */
  font-weight: bold;
  font-size: 1.3em;
  /* -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; */
  width: 100%;
}

.careerLabel li {
  list-style-type: "✧ ";
  margin: 12px 0px;
  line-height: 130%;
  font-size: 0.9em;
}

.vertical li {
  font-size: 1em;
}

.largerIcon {
  width: 5em;
  margin: 2px;
}

.smallerIcon {
  width: 3.5em;
}

.vertical.arrowDiv {
  display: grid;
  place-items: center;
  margin: 10px 0 40px 0;
}

.vertical > .arrow {
  transform: rotate(90deg);
  margin: 0 auto;
}

.vertical#bioDiv {
  flex-direction: column;
  align-items: center;
}

/****************** icons div styling end ******************/

/*************** Background writeup styling ****************/
#bioDiv {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#yilinImg {
  max-width: 200px;
}

#bioWriteup {
  padding: 20px;
  line-height: 120%;
}

.accentText {
  color: rgb(148, 255, 138);
  font-size: 20px;
  text-shadow: 1px 1px white;
}

/***************** Resume button styling ******************/

#resumeDiv {
  display: inline-block;
}

#resumeDiv a {
  color: white;
}

#resumeDiv {
  text-decoration: underline;
  background-color: rgba(81, 85, 107, 0.2) !important;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* media queries for page @ xs */
@media only screen and (max-width: 575px) {
  #aboutMeTitle {
    font-size: 2em;
    text-shadow: 4px 4px rgb(123, 255, 71);
    -webkit-text-stroke-width: 2px;
    margin: 40vh 0px 0vh 0px;
  }
}

/* media queries for page @ md */
@media only screen and (max-width: 991px) {
  .arrow {
    color: red;
    transform: rotate(90);
  }
}
